<ul>
<% @restaurants.each do |restaurant| %>
<li><%=link_to restaurant.name, restaurant_path(restaurant) %></li>
<%= restaurant.address %>
<%= restaurant.phone_number %>
<%= restaurant.category %>
<% end %>
</ul>

<div class="btn btn-primary">
  <%= link_to "Blog", blogs_path, :class => "btn" %>
</div>
