<li><%= @restaurant.name %></li>
<li><%= @restaurant.address %></li>
<li><%= @restaurant.phone_number %></li>

<% @restaurant.reviews.each do |review| %>
<%= review.content %>
<%= review.rating %>
<% end %>
